/* 기존의 .reviewBtn, .writeReview 등의 스타일은 유지 */

.contentContainer {
    background-color: #FFFFFF; 
    padding: 20px;
    margin: 20px auto; 
    border-radius: 10px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}

.albumArtContainer {
    margin-top:30px;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}
  
.albumArt {
    width: 150px;
    height: 150px;
    object-fit: cover;
}
  
.albumInfo {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 20px;
}

.ratingInfo {
    display: flex;                
    justify-content: space-around; 
    align-items: center;           
    text-align: center;            
    color: rgb(0, 0, 0);                  
    padding: 10px 0;               
    width: 100%;                   
    margin: 10px 0;                
    margin-bottom: 25px;
}

.ratingItem {
    flex: 1;                       /* 모든 항목이 동일한 너비를 가지도록 설정 */
}

.value {
    font-size: 16px;               /* 숫자 크기 */
    font-weight: bold;             /* 굵은 글씨 */
}

.label {
    font-size: 12px;               /* 라벨 텍스트 크기 */
    margin-top: 5px;               /* 라벨과 값 사이의 간격 */
    color:#666
}


.reviewButton {
    display: block;
    width: 100%;
    padding: 10px;
    color: white;
    background-color: #673AB7;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.socialButtons {
    display: flex;
    justify-content: center;
    margin-top: 30px;  /* 간격을 50px로 설정 */
    padding-left: 50px;  /* 왼쪽 패딩 추가 */
}

  
.socialButtons span {
    margin-right: 20px;
    font-size: 1.5em;
}

.socialIcon {
    width: 20px;  /* 아이콘 크기 조절 */
    height: 24px;
    margin-right: 45px; /* 아이콘 간의 간격 조절 */

}
  
.navBar {
    margin-top:10px;
    background-color: #FFFFFF; /* 네비게이션 바의 배경색을 흰색으로 설정 */
    display: flex;
    justify-content: center; /* 탭들을 중앙에 위치시키기 */
    padding: 10px 0;
    box-shadow: 0px 3px 6px #00000029; /* 상단의 그림자 효과 */
    border-radius: 10px; /* 모서리를 둥글게 만듬 */
}

.tab {
    background: none;
    border: none;
    outline: none; /* 호버시 생기는 아웃라인 제거 */
    color: #000; /* 탭의 텍스트 색상을 검정색으로 변경 */
    margin: 0 20px;
    cursor: pointer;
    font-size: 16px; /* 탭 텍스트의 크기를 설정 */
    font-weight: 500; /* 모든 탭에 일관된 폰트 두께 적용 */
    transition: color 0.3s, background-color 0.3s; /* 색상과 배경색 변경에 애니메이션 효과 추가 */
    box-sizing: border-box; /* 패딩과 테두리를 포함한 총 너비를 고정 */
}

.activeTab {
    text-transform: none; /* 텍스트 변형 없음 */
    color: #6200EA; /* 활성 탭의 텍스트 색상을 보라색으로 설정 */
    background-color: #F0E5FF; /* 활성 탭의 배경색 추가 */
    position: relative; /* 하단 표시줄을 위한 위치 설정 */
    padding: 10px 15px; /* 패딩 고정 */
    font-size: 16px;
    border: solid 1px transparent; /* 클릭 시 테두리 변화 방지를 위해 투명 테두리 설정 */
    box-sizing: border-box; /* 패딩과 테두리가 너비에 포함되도록 설정 */
}

.activeTab::after {
    content: "";
    position: absolute;
    bottom: -2px; /* 표시줄 위치를 조정 */
    left: 50%;
    width: 70%; /* 표시줄의 너비 */
    height: 4px; /* 표시줄의 높이 */
    background-color: #6200EA; /* 표시줄의 배경색 */
    transform: translateX(-50%); /* 표시줄을 가운데로 정렬 */
}



.tab:hover {
    color: #6200EA; /* 호버시 탭의 텍스트 색상을 보라색으로 변경 */
    background-color: #F0E5FF; /* 호버시 탭의 배경색 변경 */
}


.mainPage {
    background-color: #ffffff;
    font-family: Arial, sans-serif;
    margin-left:20px;
    
}
.homeSection {
    margin-left:20px;
    
}

.sectionTitle {
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    width: 100%; 
    margin-top:20px;
    margin-bottom:10px;
}

.toggleContainer {
    margin-left: auto;
    margin-right: 20px;
}

.arrow{
    width: 25px; 
}