.topsterContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: auto;
}

.largerRow{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 1px;
    gap: 4px;
}

.smallerRow{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 0;
    padding: 1px;
    flex-wrap: wrap;
    gap: 8px;
}

.albumlargeCoverImg {
    width: 126px;
    height: 126px;
    border-radius: 10px;
}

.albumsmallCoverImg {
    width: 92px;
    height: 96px;
    border-radius: 5px;
}

.deleteIcon {
    position: absolute;
    right: 2px;
    top: 2px;
    width: 14px;
    height: 14px;
    background-color: #ffffff;
    border-radius: 50%;
    padding: 2px;
    background-size: 20%;
    cursor: pointer;
}